<div class="col-12 col-lg-6 client">
    <div class="bg-light yellow-border rounded my-2 my-sm-3 px-1 py-2 p-sm-2 h-25 d-flex
                                flex-column
                                justify-content-between">
        <div class="row">
            <div class="col-4 col-sm-3">
                {% if client.logoUrl %}
                    <img src="{{ client.logoUrl }}" alt="logo"
                         width="100" height="100">
                {% else %}
                    <img src="{{ asset('images/logo-100x100.png') }}" alt="logo">
                {% endif %}
            </div>
            <div class="col-8 col-sm-9 ">
                <div>
                    <p class="id mb-1 ps-2">{{ client.id }}</p>
                    <p class="name mb-1 ps-2">{{ client.name }}</p>
                    <p class="ps-2"><a href="http://{{ client.url }}"
                                       target="_blank" class="mb-1">{{ client
                            .url }}</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <span class="d-md-inline d-none">
                <p class="my-1 px-3">{{ client.shortDescription[:100] }}
                    {% if client.shortDescription | length > 100 %}...{% endif %}
                </p>
            </span>
        </div>
        <div class="row">
            <div class="col-4 d-flex justify-content-start">
                {{ form_start(client.form) }}
                {{ form_row(client.form.active) }}
                {{ form_end(client.form) }}
            </div>
            <div class="col-8 d-flex justify-content-end">
                <a href="{{ path('app_client', { 'id': client.id }) }}" role="button"
                   class="btn btn-warning me-1 me-sm-0">
                    Gérer les clubs
                </a>
            </div>
        </div>
    </div>
</div>