{% extends 'base.html.twig' %}

{% block title %}Fiche de {{ client.name }}{% endblock %}

{% block body %}
    <div class="container-md px-0">
        <div class="mt-5 px-sm-5">
            {% if 'ROLE_ADMIN' in app.user.roles %}
            <a role="button" href="{{ path('app_client_list') }}" class="btn btn-warning mt-3"><< Liste partenaires</a>
            {% endif %}
        </div>

        {% include 'client/_client.html.twig' %}

        {% if 'ROLE_ADMIN' in app.user.roles or 'ROLE_CLIENT' in app.user.roles %}
            {% include 'filter/_branch-filter.html.twig' %}
        {% endif %}

        <div id="branchList"></div>

        <div class="row">
            <!-- Emplacement pagination -->
            <nav class="pagination-container d-flex justify-content-center">
                <div id="pagination-numbers">

                </div>
            </nav>
        </div>
    </div>
    <div id="rolesUser" style="display: none">[{{ app.user.roles | join(', ') }}]</div>
    <div id="idUser" style="display: none">[{{ app.user.id }}]</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/branchHtmlGenerator.js') }}"></script>
    <script src="{{ asset('js/paginationDetail.js') }}"></script>
    <script src="{{ asset('js/plusMinusChange.js') }}"></script>
    <script src="{{ asset('js/branchIdFilter.js') }}"></script>
    <script src="{{ asset('js/branchActiveStatus.js') }}"></script>
{% endblock %}