<div class="row d-flex justify-content-center gx-5 px-sm-5">
    <div class="col-12">
        <div class="bg-light yellow-border rounded mt-2 mt-sm-3 p-3">
            <div class="row mb-2">
                <div  class="col-5 col-lg-2 col-md-3 col-sm-4 mb-2">
                    {% if client.logoUrl %}
                        <img src="{{ client.logoUrl }}" alt="logo"
                             width="100" height="100">
                    {% else %}
                        <img src="{{ asset('images/logo-100x100.png') }}" alt="logo">
                    {% endif %}
                </div>
                <div class="col mb-2">
                    <p class="mb-1 px-2"><b>{{ client.name }} - {{ branch.name }}</b></p>
                    <p class="mb-1 px-2"><u>Id de la structure</u> : <span class="branchId">{{ branch.id
                            }}</span></p>
                    {% if branch.installPerm %}
                        <p class="px-2"><u>Id des permissions</u> : {{ branch.installPerm.id }}</p>
                    {% endif %}
                </div>
            </div>
            {% if branch.grantsForm is defined %}
                <div class="row px-2">
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        {{ form_start(branch.grantsForm) }}
                        {{ form_row(branch.grantsForm.active, { 'attr': {'onclick': 'submit()'} }) }}
                        {{ form_end(branch.grantsForm, {'render_rest': false }) }}
                    {% else %}
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="clientGrants_active"
                                   {% if branch.clientGrants.active %}checked{% endif %} disabled>
                            <label class="form-check-label" for="clientGrants_active">Active</label>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>