{% if branch.installForm is defined %}
    <div class="row d-flex justify-content-center gx-5 px-sm-5">
        <div class="col-12">
            <div class="bg-light yellow-border rounded mt-1 mb-2 mb-sm-3 p-3 pb-0">
                <div class="row">
                    <div class=" d-flex justify-content-end">
                        <p data-bs-toggle="collapse" data-bs-target="#{{ branch.name|replace({' ': ''}) }}" aria-expanded="false"
                           aria-controls="{{ branch.name }}" onclick="plusMinusChange()">
                            Permissions
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-plus-circle plus" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                 class="bi bi-dash-circle minus" style="display: none" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                        </p>
                    </div>
                </div>
                <div class="row collapse" id="{{ branch.name|replace({' ': ''}) }}">
                    <div class="col-12 col-md-6">
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            {{ form_start(branch.installForm) }}
                            {{ form_row(branch.installForm.membersRead) }}
                            {{ form_row(branch.installForm.membersWrite) }}
                            {{ form_row(branch.installForm.membersAdd) }}
                            {{ form_row(branch.installForm.membersProductsAdd) }}
                            {{ form_row(branch.installForm.membersPaymentSchedulesRead) }}
                        {% else %}
                            <form class="mb-3">
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="membersRead"
                                           {% if branch.installPerm.membersRead %}checked{% endif %} disabled>
                                    <label class="form-check-label" for="membersRead">membersRead</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="membersWrite"
                                           {% if branch.installPerm.membersWrite %}checked{% endif %} disabled>
                                    <label class="form-check-label" for="membersWrite">membersWrite</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="membersAdd"
                                           {% if branch.installPerm.membersAdd %}checked{% endif %} disabled>
                                    <label class="form-check-label" for="membersAdd">membersAdd</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="membersProductsAdd"
                                           {% if branch.installPerm.membersProductsAdd %}checked{% endif %}
                                           disabled>
                                    <label class="form-check-label" for="membersProductsAdd">membersProductsAdd</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="membersPaymentSchedulesRead"
                                           {% if branch.installPerm.membersPaymentSchedulesRead%}checked{%endif %} disabled>
                                    <label class="form-check-label" for="membersPaymentSchedulesRead">membersPaymentSchedulesRead</label>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6 mb-2">
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            {{ form_row(branch.installForm.membersStatisticRead) }}
                            {{ form_row(branch.installForm.membersSubscriptionRead) }}
                            {{ form_row(branch.installForm.membersSchedulesRead) }}
                            {{ form_row(branch.installForm.membersSchedulesWrite) }}
                            {{ form_row(branch.installForm.paymentDayRead) }}
                            {{ form_end(branch.installForm) }}
                        {% else %}
                            <form class="mb-3">
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="membersStatisticRead"
                                           {% if branch.installPerm.membersStatisticRead %}checked{% endif %} disabled>
                                    <label class="form-check-label" for="membersStatisticRead">membersStatisticRead</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="membersSubscriptionRead"
                                           {% if branch.installPerm.membersSubscriptionRead %}checked{% endif %} disabled>
                                    <label class="form-check-label" for="membersSubscriptionRead">membersSubscriptionRead</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="membersSchedulesRead"
                                           {% if branch.installPerm.membersSchedulesRead %}checked{% endif %} disabled>
                                    <label class="form-check-label" for="membersSchedulesRead">membersSchedulesRead</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="membersSchedulesWrite"
                                           {% if branch.installPerm.membersSchedulesWrite %}checked{% endif %}
                                           disabled>
                                    <label class="form-check-label" for="membersSchedulesWrite">membersSchedulesWrite</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="paymentDayRead"
                                           {% if branch.installPerm.paymentDayRead %}checked{%endif %} disabled>
                                    <label class="form-check-label" for="paymentDayRead">paymentDayRead</label>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}